Repository awaazo/awaazo, pull requests merged in 2023-10, with the labels that each got.

#53 linked the user auth front and backend with API end points
  .env.local
  README.md
  backend/Program.cs
  frontend/pages/api/api.ts
  frontend/pages/login.tsx
  frontend/pages/signup.tsx
Labels: [Account Creation / Authentication], [Backend], [Frontend]

#56 [solves #55] Code cleanup revert and fix
  backend/.DS_Store
  backend/server/.dockerignore
  backend/server/Controllers/AuthController.cs
  backend/server/Controllers/Requests/AuthRequests.cs
  backend/server/Dockerfile
  backend/server/Migrations/20230925225241_InitialMigration.Designer.cs
  backend/server/Migrations/20230925225241_InitialMigration.cs
  backend/server/Migrations/AppDbContextModelSnapshot.cs
  backend/server/Models/AppDbContext.cs
  backend/server/Models/BaseEntity.cs
  backend/server/Models/DbConfig.cs
  backend/server/Models/User.cs
  backend/server/Program.cs
  backend/server/Properties/launchSettings.json
  backend/server/appsettings.Development.json
  backend/server/appsettings.json
  backend/server/backend.csproj
  backend/server/backend.sln
  backend/server/package-lock.json
  backend/server/package.json
  backend/serverTest/Dockerfile
  backend/serverTest/GlobalUsings.cs
  backend/serverTest/UnitTest1.cs
  backend/serverTest/backendTest.csproj
  docker-compose.yml
Labels: bug, [Backend]

#99 Issue #59/cypress setup
  .github/workflows/backend.yml
  .github/workflows/e2e.yml
  frontend/cypress.config.ts
  frontend/cypress/e2e/1-getting-started/todo.cy.js
  frontend/cypress/e2e/login.cy.ts
  frontend/cypress/fixtures/example.json
  frontend/cypress/support/commands.ts
  frontend/cypress/support/e2e.ts
  frontend/package-lock.json
  frontend/package.json
Labels: [Testing]

#102 Added HasLiked field to UserEpisodeInteraction
  Backend/Backend/Models/Episode.cs
Labels: [Backend]

#106 [#105] Removed the extra backend Folder
  backend/backend.sln
Labels: bug, [Backend], [Refactor]
