Repository awaazo/awaazo, pull requests merged in 2024-04, with the labels that each got.

#463 Added highlight recommendations endpoint
  Backend/Backend/Controllers/PodcastController.cs
  Backend/Backend/Services/Interfaces/IPodcastService.cs
  Backend/Backend/Services/PodcastService.cs
Labels: 🔢 points: 2, 🟨 priority: medium, Backend

#467 #466 Added 2 admin endpoints for user metrics
  Backend/Backend/Controllers/AdminPanelController.cs
  Backend/Backend/Services/AdminPanelService.cs
Labels: 🔢 points: 2, 🟨 priority: medium, Backend

#470 Made certain endpoints public.
  Backend/Backend/Controllers/PodcastController.cs
Labels: 🔢 points: 1, 🟨 priority: medium, Backend

#464 #376 Added admin only transcript deletion endpoint
  Backend/Backend/Controllers/AdminPanelController.cs
  Backend/Backend/Services/AdminPanelService.cs
Labels: 🔢 points: 1, 🟩 priority: low, Backend

#471 Fix/recommended highlights
  frontend/components/highlights/FullScreenHighlight.tsx
  frontend/components/highlights/HighlightList.tsx
  frontend/components/highlights/HighlightScrollPage.tsx
  frontend/components/highlights/HighlightTicket.tsx
  frontend/components/highlights/Highlights.tsx
  frontend/components/highlights/highlightForm.tsx
  frontend/components/home/Snippets.tsx
  frontend/helpers/EndpointHelper.tsx
  frontend/helpers/HighlightHelper.tsx
Labels: 🛠️ goal: fix

#474 Made the GetDailyAdminRecommendations endpoint accessible to users
  Backend/Backend/Controllers/AdminPanelController.cs
  Backend/Backend/Controllers/PodcastController.cs
  Backend/Backend/Services/AdminPanelService.cs
  Backend/Backend/Services/Interfaces/IPodcastService.cs
  Backend/Backend/Services/PodcastService.cs
Labels: 🛠️ goal: fix, 🟨 priority: medium, Backend

#475 Email Verification Frontend
  frontend/components/auth/VerifyEmail.tsx
  frontend/helpers/AuthHelper.tsx
  frontend/helpers/EndpointHelper.tsx
Labels: ⭐ goal: addition
